[submodule "protobufs"]
	path = protobufs
	url = https://github.com/johnnynumber4/protobufs.git
	branch = hotel-identities
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
